<section class="container" role="main">
    <div class="container_search">
        <div class="search">
            <label for="inputsearch" class="icon_search"><i class="fa-solid fa-magnifying-glass"></i></label>
            
            <input class="inputSearch" 
                id="inputsearch" 
                type="text" 
                name="bynameIn" 
                [(ngModel)]="byNameIn" 
                #byname
                (input)='setName($event)'
            placeholder="Search for a country..."  type="text">
           
        </div> 
        
        <app-select-bar (region)='setRegion($event)' ></app-select-bar>
    </div>
    <div class="container_cards">
        <div class="card" *ngFor="let country of countrys"  [routerLink]="'/details/'+country.name">

            <img src="{{country.flag}}" alt="">
            <div class="card_info_flag">
                <h2 class="">{{country.name}}</h2>
                <small class="label"><span class="label_weight"> Poblacion:</span> {{country.population | number}}</small>
                <small class="label"><span class="label_weight"> Region:</span> {{country.region}}</small>
                <small class="label"><span class="label_weight"> Capital:</span> {{country.capital}} </small>
            </div>
        </div>
    </div>
</section>