@use 'src/styles.sass' as c

header
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    box-sizing: border-box
    align-items: center
    height: 70px
    padding: 5px 60px
    
   

    .titleBar
        width: max-content
        padding: 10px
    
    .toggleCont
        display: flex
        flex-direction: row
        height: 50px
        width: 150px
        padding: 0
        justify-content: center
        box-sizing: border-box
        cursor: pointer
        font-size: 22px
        
       
        .icon
            display: flex
            width: max-content
            height: 100%
            padding: 0 5px
            justify-content: center
            align-items: center
            
        .light
            display: none
     
        .labelMode
            display: flex
            font-weight: bold
            padding: 0 5px
            text-align: center
            align-items: center

    .toggleCont:hover
        background: #4d5f61
        border-radius: 15px
        

:host-context(.light)
    header
        background: c.$principal_light
        color: c.$auxiliar_dark
        box-shadow: c.$shadow

:host-context(.dark)
    header
        background: c.$auxiliar_dark
        color: c.$principal_light
        box-shadow: c.$shadow_dark
    

@media screen and ( max-width: 500px )
        
    header
        padding: 10px
        .titleBar
            font-size: 16px
            padding: 5px
        
    .toggleCont
        max-width: fit-content
        .icon,.labelMode
            font-size: 16px
            
            